<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nameE">Tílulo y año</label>
                    <input type="text" class="form-control" id="nameE" name="nameE" [(ngModel)]="nameE" required>
                </div>
                <div class="form-group">
                    <label for="descriptionE">Nombre de la institución</label>
                    <input type="text" class="form-control" id="descriptionE" name="descriptionE" [(ngModel)]="descriptionE" required>
                </div>
                <button class="btn btn-dark">
                    Agregar Educación
                </button>
            </form>
        </div>
    </div>
</div>