<div class="row">
    <h2>Mis proyectos</h2>
    <div class="container"> 
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto Final Argentina Programa (Agosto 2022)</h3>
            <p>Frontend desarrollado en Angular v13. Backend en Java + Springboot + JWT</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"> 
            <a href="https://frontportfolioblanco.web.app">
                <img src="../../../assets/imgPortfolio.JPG"class="img-fluid img-proyecto" >
            </a>
        </div>
    </div>
</div>
